body { margin: 0;}
header {
    background-color: black;
}
.Cabeza{
    display: flex;
    justify-content: space-between;
    
}
.logo{
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.link_redes {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 10px;
    display: inline-block; 
    
     
}
.Navegador {
    margin: 0;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 5px;/* es el espacio entre letra*/   
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px;
    font-size: large;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li a :hover{
    /*Esto permite agrandar los iconos cuando poso el puntero del mouse sobre ellos*/
    transform: translateY(-3px) scale(1.55) ;   
   
    
    color: white;
    
}
nav ul li{
    display: inline-block;
}

ul{
    text-decoration: none;
}

.login{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 10px; 
}

.Laboral{
    
    padding: 10px 10px;

}
.IUDU{
    border: 1px outset rgb(190, 187, 187) ;
    margin: 0 10px 10px;
    border-radius: 10px;
    box-shadow: 5px -5px 10px 0 black;
    

}
.IUDU img{
    width: 13%;
margin: 10px 35px;
}
.Cordial{
    margin-top: 50px;
    border: 1px outset rgb(190, 187, 187) ;
    margin: 0 10px;
    border-radius: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px -5px 10px 0 black;
}
.Cordial img{
    width: 15%;
    margin: 10px 35px;
}
.estudios ul{
    margin-top: 50px;
    border: 1px outset rgb(190, 187, 187) ;
    margin: 0 10px;
    border-radius: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px -5px 10px 0 black;
}
.estudios{
    margin: 0 10px;
    
    
}